/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: #e9e9e9;
}

body {
  max-width: 600px;
  width: 391px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

main {
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  color: #6a1cc3;
}

h3 {
  color: #00000099;
}

/**************************************************************/
/* Specific Stylings */

.main-header {
  width: 24.438rem;
  height: 5.938rem;
  background-color: #6a1cc3;
  color: white;
}

.main-header-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.header-icon {
  height: 3rem;
  width: 3.5rem;
  fill: #fbfbfb;
  margin: auto;
  cursor: pointer;
}

.main-header-design-container {
  z-index: -2;
}

#student-name-search {
  width: 100%;
  height: 2.25rem;
  border: 2px solid #6a1cc3;
  border-radius: 2px;
  padding-left: 0.7rem;
}

#student-name-search::placeholder {
  color: #4b148a61;
}

#student-name-search:active,
#student-name-search:focus {
  outline: none;
}
